<{include file="../common/pagerForm.html"}>
	
<div class="pageHeader">
	<form  rel="pagerForm" onsubmit="return navTabSearch(this);" action="<{$smarty.const.SITE_URL}>index.php/fast/index" method="post">
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td>
					名称：<input type="text" name="name" />
				</td>
				<td><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></td>
			</tr>
		</table>
	</div>
	</form>
</div>


<div class="pageContent">
    <div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="<{$smarty.const.SITE_URL}>index.php/fast/save" target="dialog" mask="true"><span>添加</span></a></li>
			<li><a class="delete" href="<{$smarty.const.SITE_URL}>index.php/fast/delete/id/{sid_obj}" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
			<li><a class="edit" href="<{$smarty.const.SITE_URL}>index.php/fast/edit/id/{sid_obj}" target="dialog" mask="true"><span>修改</span></a></li>
			<li class="line">line</li>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="115">
		<thead>
			<tr>
				<th width="60" orderField="id" <{if isset($smarty.post.orderField) and $smarty.post.orderField eq 'id'}>class="<{$smarty.post.orderDirection}>"<{/if}>>序号</th>
				<th orderField="name" <{if isset($smarty.post.orderField) and $smarty.post.orderField eq 'name'}>class="<{$smarty.post.orderDirection}>"<{/if}>>菜名</th>
				<th orderField="price" <{if isset($smarty.post.orderField) and $smarty.post.orderField eq 'price'}>class="<{$smarty.post.orderDirection}>"<{/if}>>价格(元)</th>
				<th orderField="restaurant_id" <{if isset($smarty.post.orderField) and $smarty.post.orderField eq 'restaurant_id'}>class="<{$smarty.post.orderDirection}>"<{/if}>>餐馆</th>
				<th orderField="cat_id" <{if isset($smarty.post.orderField) and $smarty.post.orderField eq 'cat_id'}>class="<{$smarty.post.orderDirection}>"<{/if}>>分类</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
		<{foreach from=$data key=k item=v}>
			<tr target="sid_obj" rel="<{$v.id}>">
				<td><{$v.id}></td>
				<td><{$v.name}></td>
				<td><{$v.price}></td>
				<td><{$v.restaurant_id}></td>
				<td><{$v.cat_id}></td>
				<td><{if $user.role_id==2}><a  href="<{$smarty.const.SITE_URL}>index.php/fast/delete/id/<{$v.id}>" target="ajaxTodo" title="确定要删除吗?">删除</a>  <span>|</span> <a  href="<{$smarty.const.SITE_URL}>index.php/fast/edit/id/<{$v.id}>" target="dialog" mask="true">修改</a>    <span>|</span> <{/if}>  <a  href="<{$smarty.const.SITE_URL}>index.php/book/save/id/<{$v.id}>" target="dialog" mask="true">  吃这个</a></td>
			</tr>
		<{/foreach}>	
		</tbody>
	</table>
	
	
	<div class="panelBar">
		<div class="pages">
			<span>共<{$countNum}>条</span>
		</div>
		<div class="pagination" targetType="navTab" totalCount="<{$countNum}>" numPerPage="<{$preNum}>" pageNumShown="10" currentPage="<{$nowPage}>"></div>
	</div>
</div>
	
	
	
	
